@use "/node_modules/@angular/material" as material;
@use "./common.scss";
@use "sass:meta";

$workshop-primary: material.define-palette(
  material.$cyan-palette,
  700,
  400,
  900
);
$workshop-accent: material.define-palette(
  material.$pink-palette,
  A200,
  A100,
  A300
);

$workshop-theme: material.define-dark-theme(
  (
    color: (
      primary: $workshop-primary,
      accent: $workshop-accent,
    ),
    typography: common.$workshop-typography,
    density: minimum,
  )
);

$workshop-theme: common.apply-extra-colors($workshop-theme);

// Generate theme
@include common.create-theme($workshop-theme);
