@use "/node_modules/@angular/material" as material;
@use "sass:map";

@mixin app-root-theme($theme) {
  $theme-colors: material.get-color-config($theme);
  $backgrounds: map.get($theme-colors, background);
  $density-scale: material.get-density-config($theme);
  $isDark: map.get($theme, is-dark);

  .content {
    background-color: material.get-color-from-palette($backgrounds, background);
    min-height: calc(100vh - #{get-content-offset($density-scale)});
  }

  .logo {
    @if $isDark {
      background-image: url("../assets/icon-light.jpg");
    } @else {
      background-image: url("../assets/icon-dark.jpg");
    }
  }
}

@function get-content-offset($density-scale: default) {
  $offset: 64px;
  @if $density-scale == minimun {
    $offset: 44px;
  }
  @return $offset;
}
