/* You can add global styles to this file, and also import other style files */
@use "/node_modules/@angular/material" as material;

@use "./styles/common.scss";

@include material.core(common.$workshop-typography);
@include material.ripple();

@include material.strong-focus-indicators();
@include material.typography-hierarchy(common.$workshop-typography, "body");

// @debug $workshop-theme;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
