/* You can add global styles to this file, and also import other style files */
@use "/node_modules/@angular/material/theming" as material;
@use "./styles/common.scss";

// @include material.mat-core(common.$workshop-typography);
//This nested imports doesn't work on angular 13. It must be used .mat-core instead
@include material.mat-ripple();
@include material.cdk-a11y();
@include material.cdk-overlay();
@include material.cdk-text-field();

@include material.mat-private-strong-focus-indicators-positioning();
@include material.mat-base-typography(common.$workshop-typography, "body");

// @debug $workshop-theme;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
