@use "/node_modules/@angular/material/theming" as material;
@use "sass:map";

//Extra colors
$workshop-success: material.mat-palette(material.$mat-green);
$workshop-info: material.mat-palette(material.$mat-blue);

$workshop-typography: material.mat-typography-config(
  $font-family: "'Open Sans', sans-serif;",
  $display-4:
    material.mat-typography-level(95px, 95px, 300, $letter-spacing: -0.05em),
);

@function apply-extra-colors($theme) {
  @return map.deep-merge(
    $theme,
    (
      success: $workshop-success,
      info: $workshop-info,
      color: (
        success: $workshop-success,
        info: $workshop-info,
      ),
    )
  );
}
